.event-group{
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px;

}
#news-events
{
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
}
.event-group .event{
    width: 400px;
    height: 500px;
    padding: 30px;
    background-color: #e5edf3;
    margin: 10px;
    border: 1px solid #436E92;
}
.event-img-top{
    width: 3px;
    height: 350px;

}
.event .event-body{
    background-color: #373b3e39;
}
.event-body .event-title{
    background-color: #373b3e39;
    color: white;
    text-align: center;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;

}
.event button{
    background-color: #373b3e39;
    color: rgb(255, 255, 255);
    height: 7vh;
    width: 10vw;
    margin: 0 auto;
    display: block;
    border: none;
    padding-top: 10px;
    margin-bottom:10px ;
}